header
    background-color: #212529
    padding: 20px 0 25px 0
    z-index: -1
    .imgbox
        width: 140px
    nav
        a
            font-size: 20px
            color: #fbfaf5
            margin-right: 30px
        &:hover
            color: #ffc800
            transition: 1s
