#portfolio
    background-color: #f8f9fa
    .imgbox
        .icon
            display: none
    h1
        font-size: 42px
        font-weight: 700
        margin-bottom: 24px
    h3
        color: #726f6f
        margin-bottom: 58px
        font-size: 19px
    h2
        color: #100d0d
        font-size: 29px
        margin-top: 29px
        font-weight: 700
    h4
        color: #726f6f
        padding-bottom: 25px
        font-size: 19px
        margin-top: 11px
    .box
        background-color: #ffff
        margin-bottom: 30px
        padding-bottom: 20px
        .textbox
            padding: 0
        .imgbox
            position: relative
            .icon
                width: 100%
                display: flex
                justify-content: center
                align-items: center
                font-size: 60px
                color: #ffff
                position: absolute
                top: 0
                bottom: 0
                opacity: 0
                &:hover
                    background-color: #fb0
                    opacity: 0.9
                    transition: 0.5s
                    cursor: pointer
    @media screen and ( max-width: 992px  )
        .box
            .imgbox
                width: auto
    @media screen and ( max-width:  576px)
        .textbox
            h1
                font-size: 40px
            h3
                font-size: 18px
                margin-bottom: 35px
        .box
            margin-bottom: 50px
            .imgbox
                width: auto
        
