#portfolio
    background-color: #f8f9fa
    h1
        font-size: 42px
        font-weight: 700
        margin-bottom: 24px
    h3
        color: #726f6f
        margin-bottom: 58px
        font-size: 19px
    .box
        background-color: #ffff
        .textbox
            margin-bottom: 30px
            h2
                color: #100d0d
                font-size: 29px
                margin-top: 29px
                font-weight: 700
            h4
                color: #726f6f
                padding-bottom: 25px
                font-size: 19px
                margin-top: 11px
