#services
    .textbox
        padding-bottom: 50px
        h1
            font-weight: 600
            font-size: 35px
            margin-top: 40px
        h3
            font-size: 20px
            color: #716d6d
            margin-top: 20px
        h2
            font-size: 25px
            font-weight: 600
        h4
            color: #716d6d
            font-size: 20px
            margin: 15px 2px
            line-height: 1.5
    .box
        display: flex
        justify-content: center
        .icon
            display: flex
            justify-content: center
            align-items: center
            font-size: 63px
            color: #ffff
            background-color: #ffc800
            border-radius: 99px
            width: 120px
            margin-bottom: 19px
            i
                padding: 28px 0
    @media screen and ( max-width: 768px  )
        .textbox
            padding: 0 0 50px
            h1
                font-size: 35px
                margin-top: 40px
            h3
                font-size: 20px
            h2
                font-size: 22px
            h4
                font-size: 18px
                margin: 15px 2px
