#services
h1
    font-weight: 600
    font-size: 35px
    font-family: sans-serif
h3
    font-size: 20px
    font-style: italic
    color: #817d7d
h1,h3
    margin: 25px 35px
.textbox
    .icon
        font-size: 73px
        margin: 28px 139px
        color: #ffff
        background-color: #ffc800
        border-radius: 65px
        width: 120px

        i
            margin: 21px 15px
    h2
        font-size: 25px
        font-weight: 600
        font-family: sans-serif
    h4
        color: #817d7d
        font-size: 20px
        margin: 15px 2px
        line-height: 1.5

    @media screen and ( max-width: 992px )
        .icon
            margin-left: 44px
            font-size: 73px
            width: 120px
            border-radius: 65px
    @media screen and ( min-width: 768 )
        .icon
            margin: 56px 66px
            font-size: 23px
            width: 120px
            border-radius: 65px
