#welcome
    background-image: url("Assets/header-bg.jpg")
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
    width: 100%
    height: 650px
    .textbox
        margin-top: 86px
        h1
            font-size: 44px
            font-style: italic
            font-weight: 300
            color: #ffff
            margin-bottom: 35px
        h2
            font-size: 75px
            color: #ffff
            font-weight: 700
            font-family: sans-serif
        .btn
            h3
                margin-top: 69px
                color: #ffff
                font-size: 19px
                font-weight: 700
                padding: 20px 55px
                background-color: #ffc800
                border-radius: 7px
