body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox img {
  width: 100%;
}

section {
  padding: 80px 0;
}

header {
  position: fixed;
  width: 100%;
  padding: 25px 0;
  background-color: #212529;
  z-index: 1;
}
header .imgbox {
  width: 140px;
}
header nav a {
  font-size: 21px;
  color: #fbfaf5;
  margin-right: 35px;
}
header:hover nav .home-color {
  color: #ffc800;
  transition: 1s;
  cursor: pointer;
}
header .box .textbox h1 {
  font-size: 20px;
  color: #979c9e;
  display: none;
  margin: -2px 12px;
}
@media screen and (max-width: 992px) {
  header nav {
    display: none;
  }
  header .box .textbox {
    margin: -24px 35px;
  }
  header .box .textbox h1 {
    font-size: 20px;
    color: #979c9e;
    display: block;
  }
}

#welcome {
  background-image: url("Assets/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 700px;
}
#welcome .textbox {
  margin-top: 86px;
}
#welcome .textbox h1 {
  font-size: 44px;
  font-weight: 300;
  color: white;
  margin-bottom: 35px;
}
#welcome .textbox h2 {
  font-size: 75px;
  color: white;
  font-weight: 700;
}
#welcome .textbox .btn h3 {
  margin-top: 69px;
  color: white;
  font-size: 19px;
  font-weight: 700;
  padding: 20px 55px;
  background-color: #ffc800;
  border-radius: 7px;
}
@media screen and (max-width: 992px) {
  #welcome .textbox h1 {
    font-size: 44px;
    font-weight: 300;
    color: white;
    margin-bottom: 35px;
  }
  #welcome .textbox h2 {
    font-size: 75px;
    color: white;
    font-weight: 700;
  }
  #welcome .textbox .btn h3 {
    margin-top: 69px;
    color: white;
    font-size: 19px;
    font-weight: 700;
    padding: 20px 55px;
    background-color: #ffc800;
    border-radius: 7px;
  }
}

#services h1 {
  font-weight: 600;
  font-size: 35px;
}
#services h3 {
  font-size: 20px;
  color: #817d7d;
}
#services h1, #services h3 {
  margin: 25px 35px;
}
#services .textbox .icon {
  font-size: 73px;
  margin: 28px 139px;
  color: white;
  background-color: #ffc800;
  border-radius: 65px;
  width: 120px;
}
#services .textbox .icon i {
  margin: 21px 15px;
}
#services .textbox h2 {
  font-size: 25px;
  font-weight: 600;
}
#services .textbox h4 {
  color: #817d7d;
  font-size: 20px;
  margin: 15px 2px;
  line-height: 1.5;
}
@media screen and (max-width: 992px) {
  #services .icon {
    margin-left: 44px;
    font-size: 73px;
    width: 120px;
    border-radius: 65px;
  }
}
@media screen and (min-width: 768) {
  #services .icon {
    margin: 56px 66px;
    font-size: 23px;
    width: 120px;
    border-radius: 65px;
  }
}

#portfolio {
  background-color: #f8f9fa;
}
#portfolio h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 24px;
}
#portfolio h3 {
  color: #726f6f;
  margin-bottom: 58px;
  font-size: 19px;
}
#portfolio .box {
  background-color: white;
}
#portfolio .box .textbox {
  margin-bottom: 30px;
}
#portfolio .box .textbox h2 {
  color: #100d0d;
  font-size: 29px;
  margin-top: 29px;
  font-weight: 700;
}
#portfolio .box .textbox h4 {
  color: #726f6f;
  padding-bottom: 25px;
  font-size: 19px;
  margin-top: 11px;
}/*# sourceMappingURL=style.css.map */